<!DOCTYPE html>
<html>

    <head>

        <%- include ( "../views/partials/head.ejs" ) -%>

    </head>

    <body>

        <%- include ( "../views/partials/content.ejs" ) -%>

        <%- include ( "../views/partials/footer.ejs" ) -%>

    </body>
    
</html>